@import url('../../node_modules/modern-normalize/');
@import url('../../node_modules/izitoast/dist/css/iziToast.min.css');
@import url('../../node_modules/simplelightbox/dist/simple-lightbox.min.css');
@import url('./reset.css');

.container {
  padding-top: 36px;
  max-width: 1128px;
  margin: 0 auto;
}

.search-form {
  width: 371px;
  display: flex;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid #303030;
  color: #808080;
  border-radius: 4px;
  letter-spacing: 0.04em;
  outline: transparent;
}

.search-btn {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  border: none;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.2s ease;
}

.search-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 50px 0;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  overflow: hidden;
  transition: transform 0.4s ease;
  border: 1px solid #808080;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 100%;
  height: 152px;
  object-position: center;
  object-fit: cover;
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-counter,
.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-close {
  color: #fff;
}

.gallary-descr {
  padding: 4px 25px;
  display: flex;
  justify-content: space-between;
}

.gallary-descr-item {
  text-align: center;
  color: #2e2f42;
  letter-spacing: 0.04em;
  font-size: 12px;
}

.gallary-descr-item-title {
  font-weight: 600;
  line-height: 1.33;
}

.gallary-descr-item-num {
  line-height: 2;
}

.is-hidden {
  display: none;
}

.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
  display: block;
  margin: 0 auto;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
  color: green;
}
.loader:after {
  color: blue;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

.is-hidden {
  display: none;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
